<h1 id="top">Lifecycle Hooks</h1>
<a href="#onChanges"></a>
<a href="#onAfterViewChecked"></a>
<a href="#wrongRunOutsideAngular"></a>
<a href="#runOutsideAngularUsingViewChild"></a>
<!-- <a href="#runOutsideAngularUsingdirective"></a>
<a href="#runOutsideAngularUsingEventManager"></a> -->

<app-on-changes-parent id="onChanges`"></app-on-changes-parent>
<a href="#top">back to top</a>
<hr/>

<app-on-after-view-checked id="onAfterViewChecked"></app-on-after-view-checked>
<a href="#top">back to top</a>
<hr>

<app-wrong-run-outside-angular id="wrongRunOutsideAngular"></app-wrong-run-outside-angular>
<a href="#top">back to top</a>
<hr>

<app-run-outsid-angular-using-viewchild id="runOutsideAngularUsingViewChild"></app-run-outsid-angular-using-viewchild>
<a href="#top">back to top</a>
<hr>

<!-- <app-run-outsid-angular-using-directive id="runOutsideAngularUsingdirective"></app-run-outsid-angular-using-directive>
<a href="#top">back to top</a>
<hr>

<app-run-outsid-angular-using-event-manager id="runOutsideAngularUsingEventManager"></app-run-outsid-angular-using-event-manager>
<a href="#top">back to top</a>
<hr> -->
